.color-yellow {
    background-color: yellow;
    color: #fff;
}

.color-green {
    background-color: green;
    color: #fff;
}

.image-container {
    width: 800px;
    height: auto;
    max-height: 400px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    object-fit: cover;
}